.currentTurn {
  background-color: pink;
}

.quantum {
  background-color:rgb(94, 226, 220);
}

.pheonix {
  background-color: rgb(178, 171, 235);
}

.america {
  background-color: rgb(51, 175, 247);
}

.hydra {
  background-color: rgb(243, 143, 20);
}

.fusion {
  background-color: rgb(152, 226, 3);
}


.sackson {
  background-color:#FFA69E;
}

.zeta {
  background-color: rgb(243, 191, 22);
}

.unincorporated {
  background-color: rgb(165, 164, 164);
}